@use"./reset.scss";

@font-face {
  font-family: "normalidad";
  src: url("../fonts/normalidad-light-var.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "normalidad";
  src: url("../fonts/normalidad-regular-var.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "normalidad";
  src: url("../fonts/normalidad-medium-var.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


@keyframes fromOpacity {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);

  }
}

@keyframes fromOpacityMob {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);

  }
}

html {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: "normalidad";
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100vh;

  &.video-end {
    overflow: initial;
    height: auto;
  }
}

.main-modal-video {
  background-color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  transition: all 1.2s ease;
  // display: none;

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &.hide {
    opacity: 0;
    visibility: hidden;
  }
}


.block-scheme {
  width: 681px;
  height: 570px;

  video {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
}

$index: calc(1vw + 1vh);



.escalator_block {
  position: absolute;
  right: 0;
  top: 0;
  height: 780px;
  transform: translate(4%, 11%);

  video {
    height: 100%;
  }



  [data-btn="4"] {
    left: 51.2%;
    top: 31%;

    &:hover~ {
      [data-plus-modal="4"] {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  [data-plus-modal="4"] {
    left: 53%;
    top: 13%;
    transform: translateX(-50%);
    max-width: clamp(5px, 25vw, 480px);
  }


  [data-btn="5"] {
    left: 38%;
    bottom: 38%;

    &:hover~ {
      [data-plus-modal="5"] {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  [data-plus-modal="5"] {
    left: 35.3%;
    bottom: 45%;
    max-width: clamp(5px, 25vw, 480px);
  }



  @media (max-width: 1760px) {
    transform: translate(14%, 11%);
  }

  @media (max-width: 1580px) {
    height: 580px;
    transform: translate(14%, 17%);

    [data-plus-modal="5"] {
      bottom: 48%;
    }

    [data-plus-modal="4"] {
      top: 11%;
    }

  }
}

.five-section {
  overflow: hidden;
  position: relative;
  padding: 100px 0;
  padding-bottom: 150px;

  .half-block__content {
    position: relative;
    z-index: 3;
  }
}



.container {
  max-width: 1640px;
  padding: 0px 20px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
}




.logo {
  width: 231px;
  height: 34px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.header-content-inner {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

}

.header-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
  padding-bottom: 96px;
}

.header-content__title {
  color: #FFF;
  font-size: 96px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.header-content__descr {
  color: #FFF;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  /* 48px */
}



.header {
  padding-top: 35px;
  height: 100vh;
  // max-height: 960px;
  width: 100vw;
  position: relative;
  overflow: hidden;
  background-image: url(../img/main-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;

  .plus-btn {
    position: absolute;
    top: 21%;
    right: 15%;
    top: calc($index * 6);
    right: calc($index * 11);

    &:hover~ {
      [data-plus-modal="0"] {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  .plus-modal {
    top: calc($index * 9);
    right: calc($index * 8);
    max-width: 480px;
  }
}

.plus-modal {
  span {
    margin-bottom: clamp(5px, 0.52vw, 10px);
    display: block;
    color: #FFF;
    font-size: clamp(5px, 1.45vw, 28px);
    font-style: normal;
    font-weight: 500;
    line-height: 115%;
  }
}


.site-text {
  color: #041327;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.second-section {
  .site-text {
    padding: 100px 0;
    padding-bottom: 120px;
    max-width: 1100px;
  }
}


.half-block {
  display: flex;

  .site-text {
    max-width: 833px;
    width: 100%;

  }
}


.site-title {
  color: #041327;
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  margin-bottom: 60px;
}


.third-section {
  background-color: #F0F5F9;
  padding: 100px 0;
  padding-bottom: 180px;
}

.four-section {
  padding: 120px 0;

  .half-block {
    gap: 124px;
  }

  .half-block__image {
    width: 600px;
    height: 600px;
    flex-shrink: 0;
    border-radius: 32px;
    overflow: hidden;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

.plus-btn {
  position: absolute;
  width: 46px;
  height: 46px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='46' height='46' viewBox='0 0 46 46' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='46' height='46' rx='23' fill='%23FF5500'/%3e%3crect x='22' y='15' width='2' height='16' fill='white'/%3e%3crect x='31' y='22' width='2' height='16' transform='rotate(90 31 22)' fill='white'/%3e%3c/svg%3e ");
  border-radius: 50%;
  cursor: pointer;

  &[data-btn="1"] {
    left: 5.5%;
    top: 45.5%;

    &:hover~ {
      [data-plus-modal="1"] {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &[data-btn="2"] {
    left: 31%;
    top: 62.5%;

    &:hover~ {
      [data-plus-modal="2"] {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &[data-btn="3"] {
    left: 73%;
    top: 72%;

    &:hover~ {
      [data-plus-modal="3"] {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.plus-modal {
  position: absolute;
  padding: clamp(5px, 0.83vw, 16px);
  border-radius: clamp(5px, 0.83vw, 16px);
  background: #F50;
  color: #FFF;
  font-size: clamp(5px, 1.14vw, 22px);
  font-weight: 400;
  line-height: 120%;
  transition: all .3s ease-in-out;
  opacity: 0;
  visibility: hidden;

  &[data-plus-modal="1"] {
    left: 3.5%;
    top: 30.5%;
  }

  &[data-plus-modal="2"] {
    left: 23%;
    top: 47.5%;
  }

  &[data-plus-modal="3"] {
    left: 56%;
    top: 57%;
  }
}


.footer {
  padding-top: 40px;
  padding-bottom: 60px;
  border-top: 1px solid #CDD0D4;
}

.footer__btns {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 60px;
}

.footer__btn {
  cursor: pointer;
  position: relative;
  width: 500px;


  padding: 25px;
  padding-left: 77px;
  border-radius: 64px;
  background: #f50;
  color: #fff;
  font-size: 32px;
  font-weight: 500;
  line-height: 140%;
  display: flex;
  align-items: center;
  gap: 12px;

  &:last-child {
    background: #003ca6;
    padding-left: 50px;

  }


  span {
    line-height: 100%;
  }

  .ico {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);

    svg {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
}


.footer-social__links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.footer-social__link {
  width: 50px;
  height: 50px;

  svg {
    width: 100%;
    height: 100%;
  }
}

.footer-social__name {
  color: #041327;
  text-align: center;
  font-size: 38px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  margin-bottom: 20px;
}


.tabs-wrapper {
  display: flex;
  gap: 64px;
  padding-top: 90px;
}

.six-section {
  padding: 120px 0;

  .site-text {
    max-width: 1000px;
  }
}

.tabs-btns {
  position: sticky;
  top: 20px;
  width: 260px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: fit-content;
}

.tabs-btn {
  height: 60px;
  width: 100%;
  text-align: center;
  border-radius: 40px;
  border: 1px solid #CCD5DD;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #041327;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%;

  &.active {
    font-weight: 500;
    border: 2px solid #F50;
  }
}


.tab-item {
  display: none;
  animation: fromOpacity 0.3s ease-in-out forwards;
  will-change: transform;

  &.active {
    display: block;
  }
}

.tab-item__name {
  color: #041327;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  margin-bottom: 10px;
}

.tab-item__descr {
  color: #041327;
  font-size: 22px;
  font-style: normal;
  font-weight: 350;
  line-height: 140%;
}

.tabs-content {
  width: 100%;
}

.tab-item__image {
  height: 280px;
  width: calc(33.33% - 20px);
  flex-shrink: 0;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  height: 0;
  overflow: hidden;
  padding-top: 22%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .3s ease-in-out;
    will-change: transform;
    position: absolute;
    left: 0;
    top: 0;
  }

  &::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: '';
    background-image: url(../img/frame-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: opacity .3s ease-in-out;
    opacity: 0;
    z-index: 2;
  }

  &:hover {
    &::before {
      opacity: 1;
    }

    img {
      transform: scale3d(1.1, 1.1, 1);
    }
  }
}

.tab-item__images {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-top: 40px;
}

.seven-section__video {
  width: 100%;
  height: 0;
  padding-top: 56.4%;
  position: relative;
  overflow: hidden;

}

.seven-section__video-wrapper {
  border-radius: 32px;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  .ex-video {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
}

.seven-section {
  padding-top: 60px;
  padding-bottom: 100px;
}

.mobile-images-block {
  display: none;
  margin-bottom: 30px;

  .select2-container {
    width: 100% !important;
  }

  .select2-container .select2-selection--single {
    height: auto;

    border-radius: 40px;
    border: 2px solid #F50;
    padding: 14px 20px;
    background: #FFF;
    color: #041327;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
  }

  .select2-selection__arrow {
    width: 32px !important;
    height: 32px !important;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='32' height='32' rx='16' fill='%23FF5500'/%3e%3cpath d='M11 14L16 19L21 14' stroke='white' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    top: 50% !important;
    transform: translateY(-50%);
    right: 10px !important;

    b {
      display: none;
    }
  }

  .select2-container--open {
    .select2-selection__arrow {
      transform: translateY(-50%) scaleY(-1);
    }

    .select2-selection--single {
      border-radius: 30px;
      border-color: #CDD0D4;
      background-color: #F3F4F5;
    }

    .select2-selection__rendered {
      color: #ACB1B8 !important
    }
  }
}

.select2-results__option {
  padding: 13px 20px;
  color: #041327;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  background-color: #fff !important;
  color: #041327 !important;

  /* 24px */
  &:not(:last-child) {
    border-bottom: 2px solid #CDD0D4;
  }
}

.select2-container--default .select2-results>.select2-results__options {
  max-height: initial;
}

.select2-results__options {
  border: 2px solid #CDD0D4;
  border-top: none;
  border-radius: 0 0 30px 30px;

}

.select2-dropdown {
  border: none;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #fff !important;
  color: #041327 !important;
}


.tab-item__slider {
  display: none;
  margin-top: 32px;

  .swiper-slide {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .tab-item__image {
    &::before {
      display: none;
    }

    img {
      transform: none !important;
    }
  }
}

.swiper-pagination {
  margin-top: 24px;
  position: static;
  padding: 10px 0;
}

.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;

  &.swiper-pagination-bullet-active {
    background-color: #F50 !important;
  }
}

@media (max-width: 1580px) {
  .site-title {
    font-size: 56px;
    margin-bottom: 40px;
  }

  .half-block .site-text {
    font-size: 26px;
  }

  .four-section .half-block__image {
    width: 500px;
    height: 500px;
  }

  .four-section .half-block {
    gap: 80px
  }

  .escalator_block [data-btn="4"] {
    left: 50.7%;
    top: 31%;
  }
}

@media (max-width: 1440px) {

  .third-section,
  .four-section,
  .six-section,
  .second-section {
    padding: 80px 0;
  }

  .second-section .site-text {
    padding: 0;
  }

  .header-content__title {
    font-size: 72px;
  }

  .header-content__descr {
    font-size: 32px;
  }

  .five-section {
    padding-top: 80px;
  }

  .site-title {
    font-size: 48px;
    margin-bottom: 30px;
  }

  .half-block .site-text {
    font-size: 22px;
  }

  .five-section {
    .half-block__content {
      max-width: 50%;
    }
  }

  .block-scheme {
    margin-left: auto;
    width: 500px;
    height: 500px;
  }
}

@media (max-width: 1300px) {
  .tab-item__image {
    width: calc(50% - 10px);
    padding-top: 31%;
  }

  .tab-item__images {
    gap: 20px;
  }

  .tabs-wrapper {
    gap: 30px;
    padding-top: 40px;
  }
}

@media (max-width: 992px) {
  .tabs-wrapper {
    flex-direction: column;
  }

  .tabs-btns {
    width: 100%;
    flex-direction: row;
    overflow: auto;
  }

  .tabs-btn {
    padding: 0px 30px;
  }

  .escalator_block {
    height: 523px;
    transform: translate(19%, 29%);
  }

  .site-title {
    font-size: 36px;
  }

  .half-block .site-text,
  .second-section .site-text {
    font-size: 20px;
  }

  .four-section .half-block {
    gap: 30px;
  }

  .third-section,
  .four-section,
  .six-section,
  .second-section {
    padding: 40px 0;
  }

  .five-section {
    padding-top: 40px;
  }

  .block-scheme {
    width: 300px;
    height: 300px;
  }

  .four-section .half-block__image {
    width: 400px;
    height: 400px;
  }
}

@media (max-width: 768px) {
  .tab-item__image {
    width: 100%;
    padding-top: 69%;
  }

  .header {
    padding-bottom: 40px;
    height: 146vw;
    min-height: 510px;
    background-image: url(../img/main-image-mob.jpg);
  }

  .header-content__title {
    font-size: 48px;
    margin-bottom: 16px;
    line-height: 100%;
  }

  .header-content {
    padding-bottom: 0;
    padding-bottom: 40px;
  }

  .header-content__descr {
    font-size: 20px;
  }

  .third-section .half-block,
  .four-section .half-block {
    flex-direction: column;
  }

  .block-scheme {
    order: -1;
    width: 90vw;
    height: 90vw;
    margin: auto;
  }

  .four-section .half-block__image {
    width: 90vw;
    height: 90vw;
    margin: auto;
  }

  .escalator_block {
    position: static;
    width: 100%;
    transform: none;
  }

  .escalator_block video {
    object-position: center;
    width: 180%;
    height: 180%;
    transform: translate(-25%, -10%);
  }


  .five-section {
    padding-bottom: 40px;

    .half-block {
      flex-direction: column;
    }
  }

  .five-section .half-block__content {
    max-width: initial;
  }

  .plus-btn {
    width: 30px;
    height: 30px;
  }

  .third-section,
  .four-section,
  .six-section,
  .second-section {
    padding: 30px 0;
  }

  .five-section {
    padding-top: 30px;
  }

  .seven-section {
    padding-top: 32px;
    padding-bottom: 64px;
  }

  .footer__btn {
    font-size: 18px;
    padding-left: 95px;
  }

  .footer-social__name {
    font-size: 24px;
  }

  .footer__btn:last-child {
    padding-left: 71px;
  }
}


.f-button.is-arrow.is-prev,
.f-button.is-arrow.is-next {
  width: 60px;
  height: 60px;

  svg {
    stroke: #f50
  }
}

.f-thumbs.is-modern,
.f-counter {
  display: none;
}


@media (max-width: 576px) {
  .footer-social__link {
    width: 40px;
    height: 40px;
  }

  .tab-item__name {
    font-size: 24px;
  }

  .tab-item__descr {
    font-size: 20px;
  }

  .section__video {
    padding-top: 62%;
  }

  .escalator_block {
    height: 90vw;
    position: relative;
  }

  .header {
    padding-top: 20px;
  }

  .logo {
    width: 130px;
    height: 20px;
  }

  .header-content {
    padding-bottom: 5px;
  }

  .tab-item__slider {
    display: block;
  }

  .mobile-images-block {
    display: block;
  }

  .tabs-btns,
  .tab-item__images {
    display: none;
  }

  .tab-item {
    animation-name: fromOpacityMob;
  }

  .header .plus-btn {
    top: 17%;
    right: 19%;

  }

  .header .plus-modal {
    top: 23%;
    right: 5%;
    max-width: 90vw;
  }

  .plus-modal span {
    font-size: 22px;
  }

  .plus-modal {
    font-size: 16px;
    padding: 12px 16px;
  }

  .plus-modal[data-plus-modal="1"] {
    left: 3.5%;
    top: 26.5%;
  }

  .plus-modal[data-plus-modal="2"] {
    left: 23%;
    top: 41.5%;
  }

  .plus-modal[data-plus-modal="3"] {
    left: 43%;
    top: 51%;
  }

  .select2-container--default .select2-selection--single .select2-selection__rendered {
    padding-left: 0;
  }

  .footer__btn .ico {
    width: 32px;
    height: 32px;
  }

  .footer__btn {
    width: 100%;
    padding: 20px;
    padding-left: 32%;
  }

  .footer__btn:last-child {
    padding-left: 26%;

  }

  .footer__btns {
    margin-top: 40px;
  }

  .seven-section__video-wrapper {
    border-radius: 16px;
  }

  .escalator_block [data-plus-modal="5"] {
    max-width: initial;
  }

  .escalator_block [data-btn="5"] {
    left: 23%;
    bottom: 16%;
  }

  .escalator_block [data-plus-modal="5"] {
    bottom: 28%;
    left: 14.3%;
  }
}